<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alunos</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<style>
	table {
	       width: 100%;
	       border-collapse: collapse;
	   }
	   th, td {
	       border: 1px solid #ddd;
	       padding: 8px;
	   }
	   th {
	       background-color: #f2f2f2;
	       text-align: left;
	   }
	   tr:nth-child(even) {
	       background-color: #f9f9f9;
	   }
	
</style>
<body>
	<div class="container my-2" align="center">

		<h3>Lista de produtos</h3>
		<a th:href="@{/salvarproduto}" class="btn btn-primary btn-sm mb-3">Adicionar um produto</a>
		<table style="width: 80%" border="1"
			class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Endereço</th>
					<th>Idade</th>
					<th>Email</th>
					<th>Opções </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto:${allList}">
					<td th:text="${cliente.name}"></td>
					<td th:text="${cliente.endereço}"></td>
					<td th:text="${cliente.idade}"></td>
					<td th:text="${cliente.email}"></td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${produto.id})}"
						class="btn btn-primary">Editar</a> <a
						th:href="@{/deleteProduto/{id}(id=${produto.id})}"
						class="btn btn-danger">Deletar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
